.container {
text-align :center;
}

img{
    height:250px;
    border-radius:150px;

    margin: auto;
    /* padding: 20%; */
  }

  /* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #center {
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;} */